html{
    scroll-behavior: smooth;
}
.main-header{
	background: #FFE000; 
    padding:30px;
    text-align:center;
	}
  
.content-bg{
    background-color: #e7e5d9;
}
.title{
        width:100%;
        text-align:center;

        }    
.title h1{
            color:#065d3e;
            font-family:"Times New Roman", Times, serif;
            font-size:38px;
            }
.title h3{
            color:#000;
            font-family:"Times New Roman", Times, serif;
            font-size:34px;
            }
.navbar {
            background-color: #065d3e;
            padding:15px;
            }
            
.nav-item {
            font-size:25px;
            font-family:"Times New Roman", Times, serif
            }

.br{
            border-right: 1px solid #fff;
                
            }
            
@media (max-width: 768px) {
            
        .br {
             border-right: none;
            }
        .img-fluid{
                display: block;
                margin: auto;
                margin-bottom: 10px;
              }
      
    }
.banner img {
    width: 100%;
}

p{
    text-align: justify;
      
    }
img{
    opacity: 0.9;
}

img:hover{
    opacity: 1;
}

.contact {
    background: #FFE000;

}

.footer{
    background-color: #292929;
    color:#d5d5d5;
    padding: 20px;
    text-align:center;
    
}